.main-class {
  margin: auto;
  max-width: 500px;
  background-color: brown;
  height: 80px;
  display: block;
}
.result-block {
  text-align: center;
  width: 100%;
  background-color: cornflowerblue;
  font-size: 24px;
  height: 70px;
}
.input-buttons {
  display: block;
}
.input-buttons button {
  font-size: 24px;
  width: 25%;
  height: 50px;
}
